$font-size-base: 18px;
$line-height-base: 1.8;
$font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-serif: "Droid Serif", Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-serif;

@import "bootstrap";
@import "typography";

li article {
  padding-bottom: $padding-large-vertical * 2;
  h3 {
    margin-bottom: $padding-base-vertical;
  }
}

ul.meta li {
  font-size: 0.9em;
  display: inline-block;
  &:before {
    content: "\2022";
    padding: 0 ($padding-base-horizontal / 4);
  }
  &:first-child:before {
    display: none;
  }
  @media(min-width: $screen-xs-min) {
    font-size: 1em;
    &:before {
      padding: 0 $padding-base-horizontal;
    }
  }
}

pre {
  background-color: #2D2D2D;
  border-width: 0;
}

footer {
  margin: ($padding-large-vertical * 5) 0 ($padding-large-vertical * 2);
}

header {
  display: none;
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;

  @media(min-width: $screen-md-min) {
    display: block;
  }
}
