{{ partial "header.html" . }}

{{ $latest := index .Data.Pages 0 }}

    <main class="container">

      <ul class="list-unstyled">
        <li class="row recent">
          <article class="col-md-8 col-md-offset-2">
            <h2>
              <a rel="permalink" href="{{ $latest.Permalink }}">
                {{ title $latest.Title }}
              </a>
            </h2>
            <p>{{ $latest.Summary }}</p>
            {{ partial "list_meta.html" $latest }}
          </article>
        </li>
        {{ range .Data.Pages }}
          {{ if ne . $latest }}
            <li class="row archive">
              <article class="col-md-8 col-md-offset-2">
                <h3><a rel="permalink" href="{{ .Permalink }}">{{ title .Title }}</a></h3>
                {{ partial "list_meta.html" . }}
              </article>
            </li>
          {{ end }}
        {{ end }}
      </ul>

    </main>

{{ partial "footer.html" . }}
