{{ partial "header.html" . }}
{{ $currentPage := .Paginator.PageNumber }}

    <main>
      <ul class="list-unstyled">
        {{ range $index, $element := .Paginator.Pages }}
          <li>
            <article>
              {{ if (and (eq $index 0) (eq $currentPage 1)) }}
                <h2>
                  <a rel="permalink" href="{{ $element.Permalink }}">
                    {{ title $element.Title }}
                  </a>
                </h2>
                <p>{{ $element.Summary }}</p>
              {{ else }}
                <h3>
                  <a rel="permalink" href="{{ $element.Permalink }}">
                    {{ title $element.Title }}
                  </a>
                </h3>
              {{ end }}
              {{ partial "list_meta.html" $element }}
            </article>
          </li>
        {{ end }}
      </ul>
      {{ template "_internal/pagination.html" . }}
    </main>

{{ partial "footer.html" . }}
