{{ partial "header.html" . }}

    <main>

      <section>
        <article>
          <h1>{{ title .Title }}</h1>
          <div class="meta">
            <p>
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format "Mon, Jan 2, 2006" }}
              </time>
            </p>
          </div>
          {{ .Content }}
        </article>
      </section>

      <footer class="h-card">
        <div class="avatar">
          <img class="u-photo" alt="Darren Coxall" src="/img/avatar.jpg">
        </div>
        <aside>
          <h4>About The Author</h4>
          <p>
            My name is <span class="p-name">Darren Coxall</span>. I am a software
            engineer, father &amp; husband working in <span class="p-region">London</span> for
            <a class="p-org" href="https://www.boardintelligence.com/">Board Intelligence</a>.
          </p>
        </aside>
      </footer>

    </main>

{{ partial "footer.html" . }}
